<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring-MVC/Hibernate/Maven</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/ProductApp.styles.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand"  href="index.html">ProductApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="products.html">Products</a>
                        </li>
                        <li class="nav-item d-flex justify-content-end">
                            <a class="nav-link text-dark " href="categories.html">Categories</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="min-height: 600px;">
        <main role="main" class="pb-3">
            <div class="row">

                <table class="table table-bordered">
                    <thead align="center">
                        <tr>
                            <th scope="col">Categories</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                    <tr>
            
                                <td style="align-content: center;">@item.CategoryId</td>
                                <td>@item.CategoryName</td>
                                <td>@item.Description</td>
                                <td>
                                    <div class="row" style="padding: 10px;">
                                        <a class="btn btn-outline-warning col-4" href="cUpdate.html">Update</a>
                                        <form method="post" action="#" class="col-6">
                                            <button type="submit" class="btn btn-outline-danger ">Delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
                <br />
                <br />
                <div class="my-3 d-flex justify-content-end">
                    <a href="cCreate.html" class="btn btn-success">Create One Category</a>
                </div>
            
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProductApp - <a >Privacy</a>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>